[submodule "DeeSeventySix"]
	path = DeeSeventySix
	url = git@github.com:n1ckfg/DeeSeventySix
[submodule "Telidon"]
	path = Telidon
	url = git@github.com:n1ckfg/Telidon
[submodule "GeeBeeCamera"]
	path = GeeBeeCamera
	url = git@github.com:n1ckfg/GeeBeeCamera
[submodule "Vectrexperiments"]
	path = Vectrexperiments
	url = git@github.com:n1ckfg/Vectrexperiments
