[submodule "DeeSeventySix"]
	path = DeeSeventySix
	url = https://github.com/n1ckfg/DeeSeventySix
[submodule "Telidon"]
	path = Telidon
	url = https://github.com/n1ckfg/Telidon
[submodule "GeeBeeCamera"]
	path = GeeBeeCamera
	url = https://github.com/n1ckfg/GeeBeeCamera
[submodule "Vectrexperiments"]
	path = Vectrexperiments
	url = https://github.com/n1ckfg/Vectrexperiments
[submodule "SlowscanJam"]
	path = SlowscanJam
	url = https://github.com/n1ckfg/SlowscanJam
[submodule "Sandin-Image-Processor"]
	path = Sandin-Image-Processor
	url = https://github.com/n1ckfg/Sandin-Image-Processor
